<h1 mat-dialog-title>{{ 'CONF_DIALOG.title' | translate }}</h1>
<div mat-dialog-content>
    <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="configuration.brokerAddress" placeholder="{{ 'INPUT.PLACEHOLDER.address' | translate }}">
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="configuration.brokerPort" placeholder="{{ 'INPUT.PLACEHOLDER.port' | translate }}">
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <mat-select [(ngModel)]="configuration.protocol" placeholder="{{ 'INPUT.PLACEHOLDER.protocol' | translate }}">
            <mat-option *ngFor="let protocol of protocols" [value]="protocol">
                {{ protocol }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="configuration.clientId" placeholder="{{ 'INPUT.PLACEHOLDER.clientId' | translate }}">
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="configuration.username" placeholder="{{ 'INPUT.PLACEHOLDER.username' | translate }}">
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="configuration.password" placeholder="{{ 'INPUT.PLACEHOLDER.password' | translate }}">
    </mat-form-field>
    <mat-form-field class="col-md-6">
        <mat-select [(ngModel)]="configuration.qos" placeholder="{{ 'INPUT.PLACEHOLDER.qos' | translate }}">
            <mat-option *ngFor="let qos of QoS" [value]="qos">
                {{ qos }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions class="m-4">
    <button mat-button mat-dialog-close mat-mini-fab color="primary"><i class="fas fa-arrow-left"></i></button>
    <button mat-button [mat-dialog-close]="configuration" cdkFocusInitial mat-mini-fab color="primary"><i class="fas fa-save"></i></button>
</div>
