.card-crypto {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.conf-card {
  min-height: 500px;
}

.subtitle {
  margin-left: 30px;
}

/deep/.toast-container > div {
  opacity:1;
}

.fixedbutton {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.btn-card {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.topic-text {
  color: #ffffff !important;
}

.topic-list {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  margin-top: 20px;
  min-height: 400px;
  max-height: 400px;
  background-color: #212121;
  overflow: auto;
}

.total-messages {
  margin-left: 20px;
  font-size: 12px;
}

.icon-text {
  line-height: 20px;
  height: 20px;
  margin-left: -10px;
}


.form-field {
  margin: 3px;
  width: 20%;
}

.selection {
  width: 20px !important;
  max-width: 20px !important;
  min-width: 20px !important;
}

.message-container {
  overflow-y: auto;
  background-color: #212121;
  color: #ffffff !important;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  min-height: 400px;
  max-height: 400px;
  word-wrap: break-word;

  .messages {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    color: #ffffff !important;
    pre {
      color: #ffffff !important;
      margin-left: 10px;
    }
  }
}


.form-field-text-area {
  margin: 3px;
  width: 100%;
  height: 200px;
}

.textarea {
  height: 100%;
}

mat-list {
  flex-grox: 1;
  overflow: auto;
}
