<mat-card class="conf-card card-crypto">
    <mat-card-title class="col-md-12">
        <span class="col-md-4">
            {{ 'APP.title' | translate }}
        </span>
        <span class="offset-11 col-md-1">
            <button mat-mini-fab color="primary" (click)="openDialog()" class="m-1">
                <i class="fas fa-cog"></i>
            </button>
        </span>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
            {{ 'APP.subtitle' | translate }}
        <button mat-mini-fab color="primary" (click)="addNewTopic()" class="m-1">
            <i class="fas fa-plus"></i>
        </button>
        <button mat-mini-fab color="primary" (click)="saveConfig(topics, topicFile)" class="m-1">
            <i class="fas fa-save"></i>
        </button>
    </mat-card-subtitle>
    <mat-card-content>
        <div>
        <span *ngFor="let topic of topics; let i = index; trackBy:i;">
            <mat-form-field class="col-md-3 m-3">
            <input matInput [(ngModel)]="topic.value" placeholder="{{ 'INPUT.PLACEHOLDER.topic' | translate }}">
            <button mat-button *ngIf="topics.length > 1" matSuffix mat-icon-button aria-label="Clear" (click)="removeATopic(i)">
                <i class="fas fa-times"></i>
            </button>
            </mat-form-field>
        </span>
        </div>
    </mat-card-content>
    <mat-card-actions class="fixedbutton">
        <button mat-raised-button color="primary" (click)="connectBroker()" class="btn-card">
            {{ 'BUTTONS.connect' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="subscribeTopic()" class="btn-card">
            {{ 'BUTTONS.subscribe' | translate }}
        </button>
        <button mat-raised-button color="warn" (click)="disconnectBroker()" class="btn-card">
            {{ 'BUTTONS.disconnect' | translate }}
        </button>
        <button mat-raised-button color="warn" (click)="unsubscribeTopic()" class="btn-card">
            {{ 'BUTTONS.unsubscribe' | translate }}
        </button>
    </mat-card-actions>
</mat-card>


<mat-card class="card-crypto">
    <mat-card-title>
        <span class="col-md-4">
            {{ 'MESSAGE_LIST.title' | translate }}
        </span>
    </mat-card-title>
    <mat-card-content>
        <div class="topic-list" id="topic-list">
            <mat-list infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [fromRoot]="true">
            <mat-list-item class="topic-text" *ngFor="let message of messages; let in = index">
                <button class="btn-card" [ngx-scroll-to]="'opened'" mat-button class="topic" (click)="openMessage(in)">
                <mat-icon class="icon-text" fontSet="far" fontIcon="fa-envelope"></mat-icon>{{ in + 1 }} : {{ message.topic
                }}
                </button>
            </mat-list-item>
            </mat-list>
        </div>
        <span class="total-messages">Total messages: {{recievedMessages}}</span>
        <mat-card-actions style="margin-top: 50px;">
            <div class="fixedbutton">
                <button class="btn-card" mat-raised-button color="accent" (click)="clearBuffer()">
                    <mat-icon class="icon-text" fontSet="fas" fontIcon="fa-eraser">

                    </mat-icon>
                    {{ 'BUTTONS.clear' | translate }}
                </button>
            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>

<mat-card class="card-crypto">
    <mat-card-title>
      {{ focussedMessage.topic ? focussedMessage.topic : 'Click on a topic to show the message here' }}
    </mat-card-title>
    <mat-card-content>
      <mat-card-subtitle class="subtitle">
          {{ 'PROTOBUF.title' | translate }}
      </mat-card-subtitle>

      <form [formGroup]="protoForm">
        <button mat-button class="selection"  matTooltip="Select file" (click)="openFile()"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-edit"></mat-icon></button>
        <mat-form-field class="form-field">
          <input matInput placeholder="{{ 'PROTOBUF.path' | translate }}" [(ngModel)]="proto.protobufPath" formControlName="protobufPath"/>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="{{ 'PROTOBUF.file-name' | translate }}" [(ngModel)]="proto.protobufFile" formControlName="protobufFile"/>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput placeholder="{{ 'PROTOBUF.package' | translate }}" [(ngModel)]="proto.protobufPackage" formControlName="protoPackage"/>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput placeholder="{{ 'PROTOBUF.message' | translate }}" [(ngModel)]="proto.protobufMessage" formControlName="protoMessage"/>
        </mat-form-field>
      </form>

      <mat-card-subtitle class="subtitle">
          {{ 'PROTOBUF.messages' | translate }}
      </mat-card-subtitle>
      <div class="message-container">
          <span class="messages">
              <pre id="focussed-message">{{ focussedMessage.message }}</pre>
          </span>
      </div>
    </mat-card-content>
    <mat-card-actions  style="margin-top: 90px;" id="opened">
      <div class="fixedbutton">
          <span class="buttons">
            <button class="btn-card" mat-raised-button color="primary" (click)="saveConfig(protoForm.value, protobuf)">
              <mat-icon class="icon-text" fontSet="far" fontIcon="fa-save">

              </mat-icon>
              {{ 'BUTTONS.save' | translate }}
            </button>
          </span>
          <span class="buttons">
            <button class="btn-card" mat-raised-button color="warn" (click)="deleteConfig(protobuf)">
              <mat-icon class="icon-text" fontSet="far" fontIcon="fa-trash-alt">

              </mat-icon>
              {{ 'BUTTONS.delete' | translate }}
            </button>
          </span>
          <span class="buttons">
            <button class="btn-card" mat-raised-button color="accent" (click)="toHex()">
              <mat-icon class="icon-text" fontSet="fas" fontIcon="fa-exchange-alt">

              </mat-icon>
              {{ 'BUTTONS.hex' | translate }}
            </button>
          </span>
          <span class="buttons">
            <button class="btn-card" mat-raised-button color="accent" (click)="toStrings()">
              <mat-icon class="icon-text" fontSet="fas" fontIcon="fa-exchange-alt">

              </mat-icon>
              {{ 'BUTTONS.string' | translate }}
            </button>
          </span>
          <span class="buttons">
            <button class="btn-card" mat-raised-button color="accent" (click)="toJson()">
              <mat-icon class="icon-text" fontSet="fas" fontIcon="fa-exchange-alt">

              </mat-icon>
              {{ 'BUTTONS.json' | translate }}
            </button>
          </span>
          <span class="buttons">
            <button class="btn-card" mat-raised-button color="accent" (click)="copyMessage(focussedMessage.message)">
              <mat-icon class="icon-text" fontSet="far" fontIcon="fa-copy">

              </mat-icon>
              {{ 'BUTTONS.copy' | translate }}
            </button>
          </span>
          <span class="buttons">
              <button class="btn-card" mat-raised-button color="accent" (click)="clearMessage()">
                <mat-icon class="icon-text" fontSet="fas" fontIcon="fa-eraser">

                </mat-icon>
                {{ 'BUTTONS.clear' | translate }}
              </button>
          </span>
      </div>
    </mat-card-actions>
</mat-card>


<mat-card class="card-crypto">
    <mat-card-title>
        {{ 'PUBLISH.title' | translate }}
    </mat-card-title>
    <mat-card-content>
      <mat-card-subtitle>
          {{ 'PUBLISH.subtitle' | translate }}
      </mat-card-subtitle>
      <button mat-button class="selection"  matTooltip="Select file" (click)="openFile()"><mat-icon class="icon-text" fontSet="far" fontIcon="fa-edit"></mat-icon></button>
      <mat-form-field class="form-field">
        <input matInput placeholder="{{ 'PROTOBUF.path' | translate }}" [(ngModel)]="proto.protobufPath"/>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="{{ 'PROTOBUF.file-name' | translate }}" [(ngModel)]="proto.protobufFile"/>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="{{ 'PROTOBUF.package' | translate }}" [(ngModel)]="proto.protobufPackage"/>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="{{ 'PROTOBUF.message' | translate }}" [(ngModel)]="proto.protobufMessage"/>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Topic" [(ngModel)]="publishingTopic"/>
      </mat-form-field>
      <mat-form-field class="form-field">
          <mat-select placeholder="{{ 'INPUT.PLACEHOLDER.qos' | translate }}" [(ngModel)]="publishingQos">
            <mat-option value="0">
              0
            </mat-option>
            <mat-option value="1">
              1
            </mat-option>
            <mat-option value="2">
              2
            </mat-option>
          </mat-select>
        </mat-form-field>
      <span class="buttons">
        <button class="btn-card" mat-raised-button color="accent" (click)="publishingMessage ? publish() : showWarn('Publish message', 'No message inserted')">
          <mat-icon class="icon-text" fontSet="far" fontIcon="fa-share-square">

          </mat-icon>
          {{ 'BUTTONS.as-proto' | translate }}
        </button>
      </span>
      <span class="buttons">
        <button class="btn-card" mat-raised-button color="accent" (click)="publishingMessage ? publishHex() : showWarn('Publish message', 'No message inserted')">
          <mat-icon class="icon-text" fontSet="far" fontIcon="fa-share-square">

          </mat-icon>
          {{ 'BUTTONS.as-hex' | translate }}
        </button>
      </span>
      <span class="buttons">
        <button class="btn-card" mat-raised-button color="accent" (click)="publishingMessage ? publishString() : showWarn('Publish message', 'No message inserted')">
          <mat-icon class="icon-text" fontSet="far" fontIcon="fa-share-square">

          </mat-icon>
          {{ 'BUTTONS.as-string' | translate }}
        </button>
      </span>
      <span class="buttons">
        <button class="btn-card" mat-raised-button color="accent" (click)="cleanTextArea()">
          <mat-icon class="icon-text" fontSet="fas" fontIcon="fa-eraser">

          </mat-icon>
          {{ 'BUTTONS.clear' | translate }}
        </button>
      </span>
      <mat-form-field class="form-field-text-area" appearance="outline">
        <mat-label>{{ 'INPUT.PLACEHOLDER.textarea-message' | translate }}</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  class="textarea"
                  id="publish-text-area"
                  [(ngModel)]="publishingMessage"
          ></textarea>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
