/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$dark-primary:  mat-palette($mat-teal, A700, A200, A400);
$dark-accent:   mat-palette($mat-grey, 500, A200, A700);
$dark-warn:     mat-palette($mat-pink);
$dark-theme:    mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);


html, body {
  background-color: #eeeeee !important;
  margin: 0;
  padding: 0;

  height: 100%;
}
